CompileFlags:
  Add: []

Diagnostics:
  ClangTidy:
    Checks: ['bugprone-*', 'performance-*', 'readability-*']
    WarningsAsErrors: []
  Suppress:
    - '*bmp_reader.h'
    - 'bugprone-reserved-identifier'

Hover:
  ShowAKA: true

Index:
  Background: Skip
