# Автоматически сгенерированные файлы для LSP и сборки
compile_commands.json
compile_flags.txt

# Промежуточные файлы компиляции
int/
*.o
*.so
*.a

# Исполняемый файл проекта
imagecraft
*.exe

# Резервные копии
*.bak
*.backup
*~

# Временные файлы редактора
*.swp
*.swo
*.un~

# Прочее
output.bmp
